.post-nav-links {
	margin-top: 2.5rem;
	text-align: center;
}

.pagination {
	margin-top: 2.5rem;

	.nav-links {
		text-align: center;
	}
}

.post-navigation {
	margin-top: 2.5rem;

	.nav-links {
		display: flex;
		
		.nav-next,
		.nav-previous {
			flex: 1;
		}

		.nav-next {
			@include from( $tablet ) {
				text-align: right;
			}
		}
	}
}
